.taskBox {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskName {
    font-size: 21px;
    font-weight: 500;
}

.checkTaskBtn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.crossTaskBtn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.completed {
    color: rgb(51, 116, 147);
    background-color: rgb(216, 237, 248);
}

.notCompleted {
    color: rgb(58, 119, 58);
    background-color: rgb(223, 240, 215);
}