.outerForm {
    background-color: #eee;
    border-radius: 10px;
    padding: 24px;
}

.innerForm {
    margin: auto;
}

.taskInput {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.addButton {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}